@import 'colors';
@import 'variables';

sbl-icon {
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: currentColor;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}
