@use 'sass:math';

$scrollBarWidth: 1rem;
$fontSize: 1rem;
$padding: math.div($fontSize, 2);
$borderRadius: math.div($fontSize, 4);
$iconSize: $fontSize+$padding*2-$borderRadius*2;
$borderWidth: math.div($fontSize, 8);
$fontSizeError: math.div($fontSize, 4)*3;
$iconSizeError: math.div($iconSize, 2);
$paddingError: math.div($fontSize, 4);
$borderWidthError: math.div($fontSize, 16);
