<div
  @backdrop
  *ngIf="(isHandset$ | async) && isOpen"
  (click)="isOpen = false"
  class="backdrop">
</div>

<nav
  [@opened]="!(isHandset$ | async) || isOpen"
  [ngClass]="{ 'menu--handset': isHandset$ | async }"
  class="menu">
  <div class="items">
    <div
      *ngFor="let item of items"
      routerLinkActive="selected"
      [routerLink]="item.link"
      (click)="isOpen = false"
      class="item">
      {{ item.name }}
    </div>
  </div>

  <div
    *ngIf="isHandset$ | async"
    (click)="isOpen = !isOpen"
    class="button-column">
    <sbl-icon
      icon="menu"
      class="button">
    </sbl-icon>
  </div>
</nav>

<div
  [ngClass]="{
    'container--handset': isHandset$ | async,
    'container--handset-open': (isHandset$ | async) && isOpen,
  }"
  class="container">
  <router-outlet></router-outlet>
</div>
