<nav class="side-nav-menu">
  <div routerLinkActive="selected" routerLink="home">
    <span>Home</span>
    <sbl-icon icon="chevron-right"></sbl-icon>
  </div>
  <div routerLinkActive="selected" routerLink="components">
    <span>Components</span>
    <sbl-icon icon="chevron-right"></sbl-icon>
  </div>
  <div routerLinkActive="selected" routerLink="directives">
    <span>Directives</span>
    <sbl-icon icon="chevron-right"></sbl-icon>
  </div>
  <div routerLinkActive="selected" routerLink="pipes">
    <span>Pipes</span>
    <sbl-icon icon="chevron-right"></sbl-icon>
  </div>
</nav>
<router-outlet></router-outlet>
