@import 'colors';
@import 'variables';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $padding;
  row-gap: $padding;

  ::-webkit-scrollbar {
    height: $padding;
  }

  ::-webkit-scrollbar-track {
    border-radius: $borderRadius;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
  }
}

.top-buttons {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: $padding;
  font-size: $fontSize*1.5;
  color: $gray-700;

  sbl-icon {
    font-size: $fontSize*2;
    color: $gray-600;
  }
}

.demo-panel {
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  background-color: $gray-300;
  border-radius: $borderRadius;
}

pre {
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  font-size: $fontSize*1.5;
  padding: $padding;
  margin: 0;

  &.dark {
    background-color: $gray-900;
    color: $gray-300;
  }

  &.light {
    background-color: $gray-300;
    color: $gray-900;
  }

  border-radius: $borderRadius;
}
