@import 'colors';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-area {
  font-size: $fontSize*1.75;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: $padding;
  box-sizing: border-box;
  color: $white;
  background-color: $purple-900;
}
