@import 'colors';
@import 'variables';

.example-container {
  width: fit-content;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: $padding*2;
  padding: $padding;
}