@import 'colors';
@import 'variables';

.doc-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: $padding*2;
  gap: $padding*2;

  &--handset {
    grid-template-columns: 1fr;
  }
}

.card {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding: $padding;
  color: $gray-700;
  border-width: $borderWidth;
  border-style: solid;
  border-color: $gray-700;
  border-radius: $borderRadius;
  background-color: $white;
  font-size: $fontSize*1.5;
  text-align: center;
  white-space: nowrap;

  &:hover {
    box-shadow: $borderWidth $borderWidth $gray-600;
  }
}