<sbld-doc-panel [code]="code">
  <div class="example-container">
    <pre>Dropdown (fruit): </pre>
    <sbl-dropdown
      [(ngModel)]="value"
      required
      placeholder="Select one..."
      [data]="[
        { basket: { fruit: 'Apple', color: 'red' } },
        { basket: { fruit: 'Blueberry', color: 'blue' } },
        { basket: { fruit: 'Orange', color: 'orange' } },
        { basket: { fruit: 'Lime', color: 'green' } },
        { basket: { fruit: 'Banana', color: 'yellow' } }
      ]"
      valuePropertyPath="basket.color"
      displayPropertyPath="basket.fruit"
    ></sbl-dropdown>
    <pre> value (color): </pre>
    <sbl-input>
      <input
        sblInput
        [(ngModel)]="value"
        [allowedStrings]="['red', 'blue', 'orange', 'green', 'yellow']"
      >
    </sbl-input>
  </div>
</sbld-doc-panel>
