@import 'colors';
@import 'variables';

.example-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: $padding;

  span {
    margin-bottom: $padding;
  }

  sbl-dropdown {
    max-width: 200px;
  }

  sbl-input {
    max-width: 200px;
  }
}
